@font-face{
    font-family: 'Telegraf-bold';
    src: url('./fonts/Telegraf-UltraBold.otf') format('opentype');
}

body{
    background-color: #fdeade;
    font-family: 'Telegraf-bold';
    color: #191919;
    height: 100vh;
    max-width: 1680px;
    margin: 0 auto;
    overflow-y: hidden;
}

a{
    text-decoration: none;
    color: #000;
}



.footer,
.header{
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-right: 30px;
    margin-left: 30px;
}

.header{
    margin-top: 20px;

}


.projects ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.projects a:hover{
    color:#fdeade;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.socials ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.socials ul li{
    padding-right: 5px;
    list-style-type: none;
}

.projects ul li{
    font-size: 8rem;
    display: flex;
}

.projects ul{
    padding: 0;
}

.projects{
    height: 80%;
    width: 80%; 
     margin: 0 auto;
}

/*IPAD STYLING*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    ul {
        padding: 0;
    }

    .projects ul li  {
        font-size: 7rem;
        margin-bottom: 10px;
    }
  }

  /*MOBILE STYLING*/
  @media only screen and (max-width: 767px) and (orientation: portrait) {
    .projects ul{
        padding: 70px 0;
    }

    .projects ul li  {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}