@font-face {
    font-family: 'Telegraf-bold';
    src: url('./fonts/Telegraf-UltraBold.otf') format('opentype');
}

body {
    background-color: #fdeade;
    font-family: 'Telegraf-bold';
    color: #191919;
    height: 100vh;
    max-width: 1680px;
    margin: 0 auto;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

.footer,
.header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-right: 30px;
    margin-left: 30px;
}

.header {
    margin-top: 20px;
}

.projects ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#stroke,
.projects a:hover {
    color: #fdeade;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    transition: .2s;
}

.socials ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.socials ul li {
    padding-right: 5px;
    list-style-type: none;
}

.projects ul li {
    font-size: 8rem;
    display: flex;
}

.projects ul {
    padding: 0;
}

.about-me,
.projects,
.project {
    height: 83%;
    width: 80%;
    margin: 0 auto;
}

.about-me h1 {
    font-size: 2rem;
    text-align: center;
}

.skill-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.skill-container {
    width: 30%;
}

.skill-container li {
    display: inline-block;
    list-style-type: none;
    min-width: 30%;
    max-height: 10%;
}



#project-title {
    font-size: 6rem;
    text-align: center;
    margin: 10px 0;
}

.project-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    /* height: 80%;
      width: 80%; */
    /* margin: 50px auto; */
}

.project-text {
    text-align: center;
   margin: 50px auto;
}

.project-buttons{
    margin-top: 50px;

}

.project-text,
.image {
    width: 50%;
    padding: 20px;
}

.project-buttons a{
    padding: 10px 30px;
    border: solid black 2px;
}

.project-buttons a:hover{
    color: #FDEADE;
    background-color: black;
    transition: .5s;
}

.image img {
    max-width: 100%;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .projects ul li {
        font-size: 6rem;
        margin-bottom: 10px;
    }
}

/*IPAD STYLING*/

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    ul {
        padding: 0;
    }

    .projects ul li {
        font-size: 6rem;
        margin-bottom: 10px;
    }

    .about-me h1 {
        font-size: 2.5rem;
    }

    .project-details {
        flex-direction: column;
    }

    .project-text,
    .image {
        width: 100%;
        padding: 0;
        margin: 30px auto;
    }
}

/*MOBILE STYLING*/

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .projects ul {
        padding: 70px 0;
    }

    .projects ul li {
        font-size: 3rem;
        margin-bottom: 10px;
    }

    .about-me h1 {
        font-size: 1.4rem;
    }

    section .skills {
        height: 300px;
        overflow: auto;
    }

    .skill-row {
        flex-direction: column;
    }

    .skill-container {
        width: 100%;
    }

    .project {
        width: 100%;
    }

    #project-title {
        font-size: 3rem;
    }

    .project-details {
        flex-direction: column;
    }

    .project-text,
    .image {
        width: 80%;
        margin: 0px auto;
    }

    .project-text{
        font-size: 14px;
    }
}

/* iPhone 6,7,8  */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .project-text{
        font-size: 14px;
    }

    .footer, .header {
        height: 8%;
    }
}

/*iPhone 5/se*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait){
    #project-title {
        font-size: 1rem;
    }

    .project-text{
        font-size: 14px;
    }

    .project-text, .image {
        padding: 0px;
    }

    .footer, .header {
        height: 6%;
    }
}